# Version control
.git
.gitignore
.gitattributes

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
.env
.pytest_cache/

# IDE
.idea/
.vscode/

# Docker
Dockerfile
.dockerignore

# Project specific
last_response.html
*.log
